.circular-btn-container {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  height: 100%;
  transition: all 1.5s ease-in;
}
.CircularButton {
  cursor: pointer;
  height: 120px;
  width: 120px;
  background: linear-gradient(to right, var(--bgbtn2) 0%, var(--bgbtn) 50%);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  z-index: 4;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bgColor);
  box-shadow: 10px 5px 5px 4px var(--bgshadow);
  transition: 1s ease-in;
}

.btn-logo {
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  background: url(/src/Assets/Images/webreatelogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
