.btn-mail-container {
  height: 40px;
  width: 40px;
  background: linear-gradient(to right, var(--bgbtn2) 0%, var(--bgColor) 75%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
